* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none; }

#navbar {
  width: 50%;
  height: auto;
  position: relative; }
  #navbar ul {
    display: inline-flex;
    margin: 5%; }
    #navbar ul li {
      padding-right: 8%;
      padding-left: 8%; }
      #navbar ul li a {
        font-weight: bold;
        font-size: 1.5em;
        font-family: "Abel", sans-serif;
        color: black; }
      #navbar ul li a:hover {
        color: #f3efdd;
        background: #0d7339;
        padding: 24%; }

.clearfix {
  content: "";
  clear: both;
  display: table; }

.banner {
  text-align: center; }

.bannerImg {
  width: 80%;
  height: 20%;
  margin: auto;
  display: block; }

.logoImg {
  width: 40%;
  height: 40%; }

.bckImg {
  width: 100%;
  height: 80%; }

.breakfast, .lunch, .kidsMenu {
  width: 80%;
  height: 120%; }

.special {
  width: 100%;
  height: 20%; }

.imageBox {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 80%; }

.imageBox img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto; }

.imageBox:hover img {
  transform: scale(1.3); }

.imageBoxSpecial {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 100%; }

.imageBoxSpecial img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto; }

.imageBoxSpecial:hover img {
  transform: scale(1.2); }

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  width: 100%;
  height: 0; }
  .overlay a {
    color: white; }

.imageBox:hover .overlay {
  bottom: 0;
  height: 100%; }

.imageBoxSpecial:hover .overlay {
  bottom: 0;
  height: 100%; }

.overlayText, .overlayTextSpecial {
  font-size: 1.5em;
  font-family: "Abel", sans-serif;
  padding: 0;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

.overlayTextSpecial {
  font-size: 2em;
  font-family: "Abel", sans-serif;
  padding: 0; }

@media only screen and (min-width: 1200px) {
  .info, .introParaMobile, .textDisplay {
    display: none; }

  body {
    background: #f6f6f6; }

  .box {
    background: white;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto; }

  .wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    background: white;
    border: 1px solid #BFBFBF;
    box-shadow: 5px 10px 10px #888888; } }
header {
  height: 5em;
  width: 100%;
  margin: auto;
  float: left;
  padding-top: 4%;
  padding-bottom: 4%; }

.logo {
  position: relative;
  width: 50%;
  margin: auto;
  padding-top: 0.5em; }

.left {
  float: left; }

.right {
  float: right;
  padding-left: 16%; }

.decoWrapper {
  margin-top: 1em;
  height: 12px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5); }

.logoContainer {
  padding-bottom: 6%; }

.menuRow, .contactRow {
  overflow: auto;
  width: 100%;
  padding-bottom: 4%; }

.menuCol {
  width: 33.3%;
  float: left;
  margin: auto;
  padding: 0em 0.5em 0em 0.5em; }

.contactCol {
  width: 50%;
  float: left;
  margin: auto;
  padding: 4%; }

.mapSize {
  width: 900px;
  height: 200px; }

.introPara, .paraText {
  font-size: 1.1em;
  font-family: "Abel", sans-serif;
  padding: 4%;
  line-height: 25px; }

.introParaMobile {
  font-size: 1.1em;
  font-family: "Abel", sans-serif;
  padding: 4%;
  line-height: 25px; }

h1 {
  font-size: 2em;
  font-family: "Abel", sans-serif;
  padding: 4%;
  text-align: center;
  padding-bottom: 4%; }

h2 {
  font-size: 1.5em;
  font-family: "Abel", sans-serif;
  padding: 1.6%;
  text-align: center; }

.paraText {
  padding-top: 0; }

.container {
  position: relative;
  text-align: center;
  padding-bottom: 4%; }

.button {
  font-size: 2em;
  font-family: "Abel", sans-serif;
  padding: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.5em 1.3em 0.5em 1.3em;
  font-weight: bold;
  background-color: #0d7339;
  border: 2px solid #f3efdd;
  color: #f3efdd;
  opacity: 1.0;
  border-radius: 4px;
  transition: background-color 0.2s ease-out, color 0.2s ease-out; }

.button:hover, .contactSubmitBtn:hover {
  opacity: 0.8;
  transition: background-color 0.3s ease-in, color 0.3s ease-in; }

.contactSubmitBtn {
  font-size: 1.1em;
  font-family: "Abel", sans-serif;
  padding: 0;
  padding: 0.5em 1.3em 0.5em 1.3em;
  font-weight: bold;
  background-color: #0d7339;
  border: 2px solid #f3efdd;
  color: #f3efdd;
  opacity: 1.0;
  border-radius: 4px;
  transition: background-color 0.2s ease-out, color 0.2s ease-out; }

#myBtn {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 10px;
  z-index: 99;
  font-size: 0.8em;
  border: none;
  outline: none;
  background-color: #0d7339;
  color: #f3efdd;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px; }

#myBtn:hover {
  color: black; }

input[type=text], textarea {
  width: 100%;
  padding: 1.6%;
  margin-top: 2%;
  border-radius: 5px; }

.locationInfo {
  font-size: 1.1em;
  font-family: "Abel", sans-serif;
  padding: 2%;
  padding-left: 10%;
  line-height: 25px; }

.map {
  text-align: center; }

.fab {
  font-size: 2em;
  padding: 1.6%; }

.socialIcons a {
  color: black; }

.fab:hover {
  color: #0d7339; }

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  #sec1 {
    width: 100%;
    height: 750px;
    padding: 0;
    margin: 0; }

  #sec2 {
    width: 100%;
    height: 1350px;
    padding: 0;
    margin: 0; }

  #sec3 {
    width: 100%;
    height: 1400px;
    padding: 0;
    margin: 0; }

  .banner, .decoWrapper, .introPara, .paraText, .overlay {
    display: none; }

  .left, .right {
    float: left;
    width: 100%;
    margin: auto;
    padding: 0; }

  body {
    margin: 0;
    padding: 0; }

  header {
    margin: 0;
    background: white;
    width: 100%; }

  .box {
    background: white;
    margin: 0;
    width: 100%;
    height: auto; }

  .wrapper {
    background: white;
    margin: 0;
    width: 100%;
    height: auto;
    box-shadow: none; }

  .adjustPadding, #sec1, #sec2, #sec3 {
    padding: 0; }

  .logo {
    text-align: center;
    margin-bottom: 5%; }

  #navbar {
    width: 100%;
    text-align: center;
    padding-top: 2%;
    font-size: 1.2em; }
    #navbar ul {
      margin: 2.5%; }
      #navbar ul li {
        padding-left: 10%;
        padding-right: 10%; }
        #navbar ul li a:hover {
          color: #f3efdd;
          background: #0d7339;
          padding: 20%; }

  .container {
    height: 400px; }

  .button {
    position: absolute;
    font-size: 2em;
    font-family: "Abel", sans-serif;
    padding: 0;
    top: 60px;
    left: 325px;
    z-index: 2;
    padding: 0.5em 1.1em 0.5em 1.1em;
    width: 300px;
    height: 70px; }

  .info {
    font-size: 1.3em;
    font-family: "Abel", sans-serif;
    padding: 4%;
    position: absolute;
    top: 160px;
    left: 200px;
    color: white;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.6); }

  .introParaMobile {
    font-size: 1.3em;
    line-height: 30px; }

  .locationInfo p {
    font-size: 1.3em;
    line-height: 30px;
    padding-left: 12%;
    padding-right: 12%; }

  .bckImg {
    height: 350px; }

  .menuCol, .contactCol {
    width: 100%;
    padding: 4%; }

  .textDisplay {
    position: absolute;
    font-size: 2em;
    font-family: "Abel", sans-serif;
    padding: 0;
    color: #f3efdd;
    top: 50px;
    left: 40px;
    z-index: 2;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2%; }
    .textDisplay a {
      color: #f3efdd; }

  .locationInfo, .center {
    text-align: center; }

  .contactSubmitBtn {
    font-size: 1.5em;
    padding: 0.5em 1.7em 0.5em 1.7em;
    margin-bottom: 5%; }

  .special {
    width: 60%;
    height: 20%; }

  .specialCol {
    margin: auto;
    padding: 0em 1.2em 0em 1.2em; }

  .mapSize {
    width: 600px;
    height: 300px; }

  .copyright {
    font-size: 1.2em;
    margin-left: 10%;
    margin-right: 10%; }

  #myBtn {
    font-size: 1.2em;
    padding: 12px; } }
@media only screen and (max-width: 600px) {
  #sec1 {
    width: 100%;
    height: 700px;
    padding: 0;
    margin: 0; }

  #sec2 {
    width: 100%;
    height: 1100px;
    padding: 0;
    margin: 0; }

  #sec3 {
    width: 100%;
    height: 1200px;
    padding: 0;
    margin: 0; }

  .banner, .decoWrapper, .introPara, .paraText, .overlay {
    display: none; }

  .left, .right {
    float: left;
    width: 100%;
    margin: auto;
    padding: 0; }

  body {
    margin: 0;
    padding: 0; }

  header {
    margin: 0;
    background: white;
    width: 100%; }

  .box {
    background: white;
    margin: 0;
    width: 100%;
    height: auto; }

  .wrapper {
    background: white;
    margin: 0;
    width: 100%;
    height: auto;
    box-shadow: none; }

  .adjustPadding, #sec1, #sec2, #sec3 {
    padding: 0; }

  .logo {
    text-align: center;
    margin-bottom: 5%; }

  #navbar {
    width: 100%;
    text-align: center;
    padding-top: 2%; }
    #navbar ul {
      margin: 2.5%; }
      #navbar ul li {
        padding-left: 10%;
        padding-right: 10%; }
        #navbar ul li a:hover {
          color: #f3efdd;
          background: #0d7339;
          padding: 12%; }

  .container {
    height: 400px; }

  .button {
    position: absolute;
    font-size: 1.3333333333em;
    font-family: "Abel", sans-serif;
    padding: 0;
    top: 80px;
    left: 250px;
    z-index: 2;
    padding: 0.5em 1.1em 0.5em 1.1em;
    width: 200px;
    height: 50px; }

  .info {
    font-size: 1em;
    font-family: "Abel", sans-serif;
    padding: 4%;
    position: absolute;
    top: 160px;
    right: 35px;
    color: white;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.6); }

  .menuCol, .contactCol {
    width: 100%;
    padding: 4%; }

  .textDisplay {
    position: absolute;
    font-size: 2em;
    font-family: "Abel", sans-serif;
    padding: 0;
    color: #f3efdd;
    top: 50px;
    left: 40px;
    z-index: 2;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2%; }
    .textDisplay a {
      color: #f3efdd; }

  .locationInfo, .center {
    text-align: center; }

  .contactSubmitBtn {
    padding: 0.5em 1.7em 0.5em 1.7em;
    margin-bottom: 5%; }

  .special {
    width: 60%;
    height: 20%; }

  .specialCol {
    margin: auto;
    padding: 0em 0.7em 0em 0.7em; }

  .mapSize {
    width: 400px;
    height: 200px; }

  .copyright {
    margin-left: 10%;
    margin-right: 10%; } }
@media only screen and (max-width: 375px) {
  #sec1 {
    height: 667px;
    padding: 0; }

  #sec2 {
    height: 700px;
    padding: 0; }

  #sec3 {
    height: 1200px;
    padding: 0; }

  .logo {
    margin-top: 5%; }

  .button {
    top: 70px;
    left: 170px;
    z-index: 2; }

  .info {
    top: 160px;
    right: 5px; }

  .bckImg {
    height: 290px; }

  #navbar ul li {
    padding-left: 7%;
    padding-right: 7%; }

  .textDisplay {
    font-size: 1.3333333333em;
    font-family: "Abel", sans-serif;
    padding: 0;
    top: 30px;
    left: 20px;
    z-index: 2;
    padding: 4%; }

  .mapSize {
    width: 300px;
    height: 200px; } }
.adjustPadding, #sec1, #sec2, #sec3 {
  padding-left: 8%;
  padding-right: 8%; }

#sec1, #sec2, #sec3 {
  padding-bottom: 4%; }

footer {
  text-align: center;
  padding: 4%;
  padding-bottom: 2%; }

.copyright {
  padding: 4%;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
