@media only screen and (min-width: 992px){

  .info, .introParaMobile, .textDisplay {
    display: none;
  }

  body {
    background: $bodyBckColor;
    // background: green;
  }


    .box {
    	background: white;
    	margin-left: auto;
     	margin-right: auto;
    	width: 80%;
      height: auto;
    }

    .wrapper {
    	margin-left: auto;
    	margin-right: auto;
    	width: 70%;
    	height: auto;
    	background: white;
    	border: 1px solid #BFBFBF;;
    	box-shadow: 5px 10px 10px #888888;
    	// padding-left: 2*$padding;
    	// padding-right: 2*$padding;

    }



}



  header {
  	height: 5em;
  	// background-color: black;
  	width: 100%;
  	margin: auto;
  	float: left;
    padding-top: $padding;
    padding-bottom: $padding;

  }


  .logo {
  	position: relative;
  	width: 50%;
  	margin: auto;
    padding-top: 0.5em;
  }

  // position
  .left {
    float: left;
  }

  .right {
    float: right;
    padding-left: 4*$padding;
  }

  .decoWrapper {
    margin-top: 1em;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
  }


  .logoContainer {
    padding-bottom: 1.5*$padding;
  }

  .menuRow {
    overflow: auto;
    width: 100%;
    padding-bottom: $padding;

  }

  .menuCol {
    width: 33.3%;
    float: left;
    margin: auto;
    padding: 0em 0.5em 0em 0.5em;
  }

  .contactCol {
    width: 50%;
    float: left;
    margin: auto;
    padding: $padding;
  }

  .mapSize {
    width: 900px;
    height: 200px;
  }
