.bannerImg{
	width: 4*$imgWidth;
	height: $imgHeight;
	text-align: center;
	margin: auto;
	display: block;
}


.logoImg {
	@include imgSize(2*$imgWidth, 2*$imgHeight)
}


.bckImg, .breakfast, .lunch, .kidsMenu {
	@include imgSize(5*$imgWidth, 4*$imgHeight)
}
