
.menuModalContainer {
  border-radius: 5px;
  // padding: 30px;
	// margin-top: 50px;
	// margin-left: 700px;
	// margin-right: 400px;
	text-align: center;
  // border: 5px solid #c5f4ff;
	position: relative;
  color: #f1f1f1;


}


.containerMenuList{
  width: 100%;
  height: 1500px;
  // margin-top: 50px;
	// margin-left: 180px;
  padding-left: 2*$padding;
  text-align: left;
  padding-bottom: 2%;
    table {
      @include paraStyle ($paraFontSize, $fontFamily, $padding);
      width: 100%;
      height: auto;
      float: left;
      .tableH {
        font-size: $paraFontSize;
        font-family: $fontFamily;
      	text-align: left;
      	padding-bottom: 30px;
      	// color: $greenColor;
        font-size: $h1fontSize;
        tr {
          td {
            padding: $padding/2;
            font-family: $fontFamily;
            line-height: 25px;
          } //end of td
        } //end of tr
      } // end of tableH
    } // end of table
} //end of container

.servingTime {
  font-size: $paraFontSize;
  font-family: $fontFamily;
  text-align: center;
}

.menuHeading {
  font-size: $h1fontSize;
  font-family: $fontFamily;
  text-align: center;
  padding: 3% 0 1% 0;
}

.price{
	position: relative;
	right: 90px;
}

.menuTitle {
  color : $greenColor;
  font-size: $paraFontSize;
}

.menuSet {
  padding-top: 3%;
}

.lineLength {
  // right: 20px;
  // position: relative;
  padding-right: 80px;
}

span.code {
    float: right;
    padding-top: 15px;
	  padding-right: 20px;
}

/* The Modal (background) */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 20px;
}

/* Modal Content/Box */
.modalContent {
    background-color: $navTextColor;
    // margin: 10% 10% 15% 10%;
    margin: 2*$margin;
    border: 8px solid $greenColor;
    width: 60%;
	  height: auto;
	  text-align: center;

}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: $greenColor;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
