@media only screen and (max-width: 600px) {
  #sec1 {
    width: 100%;
    height: 700px;
    // background-image: url('../images/background.jpg');
    // background-position: top;
    // background-size: 100% 430px;
    // background-repeat: no-repeat;
    padding: 0;
    margin: 0;
  }

   #sec2 {
    width: 100%;
    height: 1100px;
    padding: 0;
    margin: 0;
  }

  #sec3 {
    width: 100%;
    height: 1200px;
    padding: 0;
    margin: 0;
  }


  .banner, .decoWrapper, .introPara, .overlay {
    display: none;
  }

  .left, .right {
    float: left;
    width: 100%;
    margin: auto;
    padding: 0;
  }

  body {
    margin: 0;
    padding: 0;
  }

  header {
    margin: 0;
    background: white;
    width: 100%;
  }

  .box {
  	background: white;
  	margin: 0;
  	width: 100%;
    height: auto;
  }

  .wrapper {
    background: white;
    margin: 0;
    width: 100%;
    height: auto;
    box-shadow: none;
  }

  .adjustPadding {
    padding: 0;
  }

  .logo {
    text-align: center;
    margin-bottom: $margin;
  }

  .logoTag {
    @include paraStyle (1em, $fontFamily, 2px);
  }

  #navbar {
  width: 100%;
  text-align: center;
  padding-top: $padding/2;
  // box-shadow: 5px 0px 5px 0px rgba(0,0,0,0.5);
    ul {
      margin: $margin/2;
      li {
          padding-left: 10%;
          padding-right: 10%;
         a{

         }
         a:hover {
           color: $navTextColor;
           background: $greenColor;
           padding: 3*$padding;
         } //end of hover
        } //end of li
      } //end of ul

  } //end of navbar

  .container {
    // width: 100%;
    height: 400px;
  }

  .lineWrapper {
    height: 6px;
    border: 0;
    box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.5);
  }

  .button {
    position: absolute;
    @include paraStyle($h1fontSize/1.5,$fontFamily, 0);
    top: 80px;
    left: 250px;
    z-index: 2;
    // transform: translate(-50%, -50%);
    padding: 0.5em 1.1em 0.5em 1.1em;
    width: 200px;
    height: 50px;

  }


  .info {
    @include paraStyle(1em,$fontFamily,$padding);
    position: absolute;
    top: 160px;
    right: 35px;
    // transform: translate(-50%, -50%);
    color: white;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
    // text-align: right;
    // margin-top: 5*$margin;
  }


  // .paraPosition {
  //    position: absolute;
  //    top: 67%;
  // }

  .menuCol, .contactCol {
    width: 100%;
    padding: $padding;
  }

  .textDisplay {
    position: absolute;
    @include paraStyle($h1fontSize,$fontFamily, 0);
    color: $navTextColor;
    top: 50px;
    left: 40px;
    z-index: 2;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding: $padding/2;
    a {
      color: $navTextColor;
    }

  }


  .locationInfo, .center {
    text-align: center;
  }

  .contactSubmitBtn {
    padding: 0.5em 1.7em 0.5em 1.7em;
    margin-bottom: $margin;
  }

  .special {
  	@include imgSize(3*$imgWidth, $imgHeight);
  }

  .specialCol {
    margin : auto;
    padding: 0em 0.7em 0em 0.7em;
  }

  .mapSize {
    width: 400px;
    height: 200px;
  }

  .copyright {
    margin-left: 2*$margin;
    margin-right: 2*$margin;
    font-size: 14px;;
  }



}


@media only screen and (max-width: 375px){
  #sec1 {
    height: 667px;
    padding: 0;
  }

   #sec2 {
    height: 700px;
    padding: 0;
  }

  #sec3 {
    height: 1200px;
    padding: 0;
  }

  .logo {
    margin-top: $margin;
  }

  .logoTag {
    @include paraStyle (0.7em, $fontFamily, 2px);
  }

  .button {
    top: 70px;
    left: 170px;
    z-index: 2;
    // padding: 0.5em 1.1em 0.5em 1.1em;
    // width: 200px;
    // height: 50px;

  }

  .info {
    top: 160px;
    right: 5px;
  }

  .bckImg {
    height: 290px;
  }

  #navbar {
    ul {
      li {
          padding-left: 7%;
          padding-right: 7%;
          a{
            font-size: 1.3em;
          }
        }
    }
  }

  .introParaTablet {
    display: none;
  }

  .textDisplay {
    @include paraStyle($h1fontSize/1.5,$fontFamily, 0);
    top: 30px;
    left: 20px;
    z-index: 2;
    padding: $padding;
  }


  .mapSize {
    width: 300px;
    height: 200px;
  }




}
