#navbar {
  width: 50%;
  height: auto;
  position: relative;
  ul {
      display: inline-flex;
      margin: $margin;
      li {
          padding-right: 2*$padding;
          padding-left: 2*$padding;
         a{
           font-weight: bold;
           font-size: 1.5em;
           font-family: $fontFamily;
           color: black;

         }
         a:hover {
           color: $navTextColor;
           background: $greenColor;
           padding: 6*$padding;
         }
     }
  }

}


.clearfix {
  content: "";
  clear: both;
  display: table;
}
