.introPara {
  @include paraStyle ($paraFontSize, $fontFamily, $padding);
  line-height: 25px;
}

.introParaTablet {
  @include paraStyle ($paraFontSize, $fontFamily, $padding);
  line-height: 25px;
}

.logoTag {
  @include paraStyle (0.9em, $fontFamily, 2px);
  letter-spacing: 1px;
  padding-left: 20px;
}


h1 {
  @include paraStyle ($h1fontSize, $fontFamily, $padding);
  text-align: center;
  padding-bottom: $padding;
}


h2 {
  @include paraStyle (1.5em, $fontFamily, $padding/2.5);
  text-align: center;
}



// Paragraph from contact section with map
.paraText {
  @extend .introPara;
  padding-top: 0;
}
