$fontColor: black;
$h1fontSize: 2em;
$paraFontSize: 1.1em;
$opacity: 0.5;
$imgWidth: 20%;
$imgHeight: 20%;
$margin: 2em;
$padding: 2em;
$navTextColor: #f3efdd;
$fontFamily: 'Abel', sans-serif;
$greenColor: #0d7339;
$bodyBckColor: #f6f6f6;
