@import 'cssReset';
@import 'variables';
@import 'nav';
@import 'mixin';
@import 'images';
@import 'desktop';
@import 'para';
@import 'button';
@import 'contactForm';
@import 'socialMediaIcon';
@import 'mobile';





.adjustPadding {
	padding-left: 2*$padding;
	padding-right: 2*$padding;
}

#sec1, #sec2, #sec3 {
	@extend .adjustPadding;
  padding-bottom: $padding;
}



footer {
  text-align: center;
  padding: $padding;
  padding-bottom: $padding/2;
}


.copyright {
  padding: $padding;
  text-align: center;
}
