@import 'cssReset';
@import 'variables';
@import 'mixin';
@import 'nav';
@import 'images';
@import 'desktop';
@import 'para';
@import 'button';
@import 'contactForm';
@import 'socialMediaIcon';
@import 'ipad';
@import 'mobile';







#sec1, #sec2, #sec3 {
  @extend .adjustPadding;
  padding-bottom: $padding;
}



footer {
  text-align: center;
  padding: $padding;
  padding-bottom: $padding/2;
}


.copyright {
  padding: $padding;
  text-align: center;
}
